
.hidden {
  display: none;
}
 
.crop-text {
  -webkit-line-clamp: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

a {
  font-size: 14px;
  line-height: 20px;
  color:blue
}

a:hover {
  text-decoration: none;
}

.modal-backdrop {
  background-color: white
}

.modal-content {
  border-radius: 15px; 
}